<div *ngIf="member">
    <div class="row">
        <div class="col-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-8">
            <div class="alert alert-info" [ngStyle]="unsavedChangesWarningStyle">
                <strong>Information: Your profile has unsaved changes.</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <button form="editForm" class="btn btn-success" [disabled]="!stateUnsaved">Save</button>
                </div>
                <img src="{{ member.photoUrl || './assets/user.png' }}" alt="{{ member.knownAs }}"
                    class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{ member.city }}, {{ member.country }}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{ member.age }} </p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{ member.lastActive | timeago: live}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{ member.created | timeago: live}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <tabset class="member-tabset">
                <tab heading="About">
                    <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
                        <h4 class="mt-4">Description</h4>
                        <textarea [(ngModel)]="member.introduction" name="introduction" rows="6" class="form-control"></textarea>
                        <h4 class="mt-4">Looking for</h4>
                        <textarea [(ngModel)]="member.lookingFor" name="lookingFor" rows="6" class="form-control"></textarea>
                        <h4 class="mt-4">Interests</h4>
                        <textarea [(ngModel)]="member.interests" name="interests" rows="6" class="form-control"></textarea>
                        <h4 class="mt-4">Location details</h4>
                        <div class="form-inline mt-4">
                            <label for="city">City:</label>
                            <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
                            <label for="country">Country:</label>
                            <input [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">
                        </div>
                    </form>
                </tab>
                <tab heading="Photos">
                    <app-photo-editor [member]="member"></app-photo-editor>
                </tab>
            </tabset>
        </div>
    </div>
</div>