button.btn.btn-success {
    animation: glow 2s ease-in infinite;
}

button.btn.btn-success:disabled {
    opacity: 0.3;
    animation: none;
}

button.btn.btn-cancel {
    color: var(--danger);
    border: 1px solid var(--danger);
}

button.btn.btn-cancel:hover {
    color: white;
    background-color: var(--danger);
    border: 1px solid transparent;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px var(--green);
    }
    50% {
        box-shadow: 0 0 25px var(--green);
    }
}