<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">

    <h2 class="text-center text-primary">Sign-up</h2>
    
    <hr>

    <h5>Logon credentials</h5>

    <app-text-input [formControl]="registerForm.controls['username']" placeholder="Username..."
        [validatorsAndMessages]="validatorMessages"></app-text-input>

    <app-text-input [formControl]="registerForm.controls['password']" [type]="'password'"
        placeholder="Password of at least {{minPasswordLength}} characters..."
        [validatorsAndMessages]="validatorMessages"></app-text-input>

    <app-text-input [formControl]="registerForm.controls['confirmPassword']" [type]="'password'"
        placeholder="Confirm the password..." [validatorsAndMessages]="validatorMessages"></app-text-input>

    <hr>

    <h5>Basic information</h5>

    <app-text-input [formControl]="registerForm.controls['knownAs']" placeholder="Known as..."
        [validatorsAndMessages]="validatorMessages"></app-text-input>
    
    <app-text-input [formControl]="registerForm.controls['dateOfBirth']" placeholder="Date of birth..."
        [validatorsAndMessages]="validatorMessages"></app-text-input>

    <div class="form-group">
        <label class="mr-3">Gender: </label>
        <label class="radio-inline mr-3">
            <input type="radio" formControlName="gender" value="male"> Male
        </label>
        <label class="radio-inline mr-3">
            <input type="radio" formControlName="gender" value="female"> Female
        </label>
        <label class="radio-inline">
            <input type="radio" formControlName="gender" value="other"> Other
        </label>
    </div>
    
    <app-text-input [formControl]="registerForm.controls['city']" placeholder="City..."
        [validatorsAndMessages]="validatorMessages"></app-text-input>
    
    <app-text-input [formControl]="registerForm.controls['country']" placeholder="Country..."
        [validatorsAndMessages]="validatorMessages"></app-text-input>
    

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" [disabled]="!registerForm.valid"
            title="{{ registerForm.invalid ? 'Please fill-out the form to register' : undefined }}">Register</button>
        <button class="btn btn-default mr-2 btn-cancel" type="button" (click)="onCancelButtonClicked()">Cancel</button>
    </div>

</form>

<p>
    Form value: {{ registerForm.value | json }}
    <br>
    Form status: {{ registerForm.status | json }}
</p>