input.ng-invalid.ng-touched {
    border: 1px solid var(--danger);
    background-color: rgba(255, 120, 81, 0.2);
}

button.btn.btn-success:disabled {
    opacity: 0.1;
    background-color: black;
    border: 1px solid black;
}

button.btn.btn-cancel {
    color: var(--danger);
    border: 1px solid var(--danger);
}

button.btn.btn-cancel:hover {
    color: white;
    background-color: var(--danger);
    border: 1px solid transparent;
}