.photo-card {
    position: relative;
    text-align: center;
    margin-top:10px;
    border-radius: 10px;
}

.photo-buttons {
    position: absolute;
    bottom: 0; 
    opacity: 0;
    width: 100%;
}

.photo-card:hover .photo-buttons {
    opacity: 1;
}

.photo-card.photo-main {
    box-shadow: 0 0 15px var(--secondary);
}

.photo-button {
    margin: 3px;
}

.photo-button.photo-button-main {
    background-color: transparent;
    color: gold;
    opacity: .5;
}

.animate {
    transition: all .25s ease-in-out;
}

img.img-thumbnail {
    height: 100px;
    object-fit: cover;
}

img.img-thumbnail.img-main {
    border: solid 1px var(--secondary);
}

.nv-file-over {
    background-color: var(--secondary);
    color: var(--white);
}

input[type=file] {
    color: transparent;
}