.photo-card {
    position: relative;
    border: solid lime dashed 2px;
    text-align: center;
}

.photo-buttons {
    position: absolute;
    bottom: 0; 
    opacity: 0;
    width: 100%;
}

.photo-card:hover .photo-buttons {
    opacity: 1;
}

.photo-button {
    margin: 3px;
}

.animate {
    transition: all .25s ease-in-out;
}

img.img-thumbnail {
    height: 100px;
    object-fit: cover;
}

.nv-file-over {
    background-color: var(--secondary);
    color: var(--white);
}

input[type=file] {
    color: transparent;
}